{
  "channel": [
    {
      "name": "${channel_name}",
      "clientConnection": {
        "connection": [
          {
            "host": "${host}",
            "port": 443
          }
        ],
        "queueManager": "${qmgr_name}"
      },
      "transmissionSecurity": {
        "cipherSpecification": "ANY_TLS12_OR_HIGHER"
      },
      "type": "clientConnection"
    }
  ]
}
