{
    "channel":
    [
        {
            "name": "${channel}",
            "clientConnection":
            {
                "connection":
                [
                    {
                        "host": "${hostname}",
                        "port": 443
                    }
                ],
                "queueManager": "${qmgr_name}"
            },
            "transmissionSecurity":
            {
              "cipherSpecification": "ANY_TLS12_OR_HIGHER",
              "certificateLabel": "${cert_name}"
            },
            "type": "clientConnection"
        }
   ]
}