apiVersion: mq.ibm.com/v1beta1
kind: QueueManager
metadata:
  name: ${name}
  namespace: ${namespace}
spec:
  license:
    accept: true
    license: ${license}
    metric: VirtualProcessorCore
    use: ${use}
  pki:
    keys:
      - name: ${cert_name}
        secret:
          items:
            - tls.key
            - tls.crt
          secretName: ${secret_name}
  queueManager:
    name: ${qmgr_name}
    mqsc:
      - configMap:
          name: ${configmap_name}
          items:
            - config.mqsc
    ini:
      - configMap:
          name: ${configmap_name}
          items:
            - mq.ini
    storage:
      accessModes:
        - ReadWriteMany
      mountOptions:
        - dir_mode=0755
        - file_mode=0755
      defaultClass: ${storage}
      persistedData:
        enabled: false
      queueManager:
        class: ${storage}
        deleteClaim: true
        type: persistent-claim
        size: 2Gi
      recoveryLogs:
        enabled: false
    resources:
      limits:
        cpu: 1
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 50Mi
  template:
    pod:
      containers:
        - env:
            - name: MQSNOAUT
              value: 'yes'
          name: qmgr
  version: ${version}
  web:
    enabled: true
  securityContext:
     supplementalGroups: [99]